:root {
    --main-bg-color: #000000;
    --front-page-text-color: #f2f2f2;
    --front-page-btn-color: #2b2b2b;
    
    --front-page-primary-image-text-color: var(--front-page-text-color);
    --front-page-left-image-text-color: var(--front-page-text-color);
    --front-page-right-image-text-color: var(--front-page-text-color);

    --front-page-primary-btn-color: var(--front-page-btn-color);
    --front-page-left-btn-color: var(--front-page-btn-color);
    --front-page-right-btn-color: var(--front-page-btn-color);
}

/* NAVBAR & FOOTER */
.navbar-color {
    background-color: var(--main-bg-color); 
}

.footer-color {
    background-color: var(--main-bg-color); 
}

/* FRONT PAGE JUMBOTRON - IMAGE TEXT */
.front-page-primary-image-text {
    color: var(--front-page-primary-image-text-color); 
}

.front-page-left-image-text {
    color: var(--front-page-left-image-text-color); 
}

.front-page-right-image-text {
    color: var(--front-page-right-image-text-color); 
}

/* FRONT PAGE JUMBOTRON - BUTTONS */
.front-page-primary-btn {
    background-color: var(--front-page-primary-btn-color); 
}

.front-page-left-btn {
    background-color: var(--front-page-left-btn-color); 
}

.front-page-right-btn {
    background-color: var(--front-page-right-btn-color); 
}